* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --accent: rgb(44, 253, 159);
  --accent01: rgb(255, 255, 255);
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background: black;
}
::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, 0.239);
}
body {
  font-family: Montserrat;
}
Nav {
  opacity: 1;
  transition: opacity .3s;
  z-index: 1000;
  background: hsla(0, 0%, 2%);
  height: min(8vw, 5em);
  width: 100vw;
  // position: sticky;
  top: 0;
  display: flex;

  color: aliceblue;
  justify-content: center;
  .material-symbols-outlined{
    cursor: pointer;
    height: 40px;
    width: 40px;
    display:grid;
    place-items: center;
    border-radius: 100px;
    transition: background-color .2s;
    &:hover{
      background: white;
      color: black;
    }
  }
  #NavInternal {
    display: grid;

    grid-template-columns: 1fr 2fr .05fr 1fr;
    place-items: center;
    width: min(55rem,70vw);
    align-items: center;
    h1 {
      color: var(--accent);
      text-align: center;
    }

    ul {
      gap: 13px;
      list-style: none;
      display: flex;
      a {

        height: 30px;
        width: 80px;
        display:grid;
        place-items: center;
    transition: background-color .2s;

        text-decoration: none;
        color: white;
        &:hover{
          color: black;
          background: white;
        }
      }
    }

    button {
      transition: background-color .3s;
      background: var(--accent);
      border: none;
      height: 40px;
      width: 140px;
      font-size: 1.2em;
      &:hover {
        background: var(--accent01);
      }
    }
  }
}

#Hero {
  width: 100vw;
  // height: 120vh;
  display: grid;
  grid-template-columns: 1fr 12rem 12rem 1fr;

  .Center {
    grid-column-start: 2;
    grid-column-end: 4;
    
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    justify-content: center;
    h1 {
 
      color: var(--accent);
      font-size: 5em;
    }
    p {
      // z-index: 5;
      font-size: 1.3em;
      color: aliceblue;
    }
  }
  img {
    pointer-events: none;
    position: absolute;
    width: 100vw;
  }
  #PodImage{
    position: absolute;
    bottom: -300px;
    // min-width: 55vw;
    max-width: 1000px;
    left: 50%;
    transform: translate(-50% ,0%);
    z-index: 2000;
  }
}
#Main {
  transition: background-color .3s;
  height: 200vh;
  background:#050505;
}
