* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }
  :root{
    --accent:rgb(44, 253, 159);
    --accent01:rgb(185, 255, 224);
  }
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background: black;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, 0.239);
  }
  body{
    font-family: Montserrat;
  }
  Nav {
    z-index: 1000;
    background: hsla(0, 0%, 2%);
    height: min(8vw, 5em);
    width: 100vw;
    // position: sticky;
    top: 0;
    display: flex;
    color: aliceblue;
    justify-content: center;
    #NavInternal{
      width: 55rem;
      // background-color: rgb(4, 106, 195);
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1{
        color: var(--accent);
        text-align: center;
      }
    
      ul{
        gap: 13px;
        list-style: none;
        display: flex;
        a{
          text-decoration: none;
          color: white;
        }
      }
  
      button{
        background: var(--accent);
        border: none;
        height: 3rem;
        width: 10rem;
        font-size: 1.4em;
        &:hover{
          background: var(--accent01);
       
        }
      }
    }
  }



  #Hero {
    width: 100vw;
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;

    .Center {
      z-index: 100;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    h1{
 
        color: var(--accent);
        font-size: 5em;
      }
      p{
        font-size: 1.3em;
    color: aliceblue;
      }
  
    }
    img {
      // z-index: 1;
position: absolute;
width: 100vw;
    //   grid-column-start: 1;
    // grid-column-end: 3;
    // grid-row-start: 1;
    // grid-row-end: 5;
      

    }
  }
  #Intro{
    position: relative;
    width: 100vw;
    top: -90vw;
    z-index: -1;
  height: 200vh;
  background-color: hsl(0, 0%, 95%)
  }